@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #0b2547;
  --secondary: #dbedff;
  --secondary-dark: #bedaf6;
  --tertiary: #ffffff;
  --danger: #f18888;
}

body {
  margin: 0;
  background: var(--tertiary);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
a,
button {
  font-size: 1rem;
  display: inline-block;
}
button {
  cursor: pointer;
  border: 0;
}
button:focus-visible {
  outline: none;
}
input,
textarea,
select {
  font-size: 1rem;
  display: block;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}
textarea {
  resize: none;
}
img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.primary-btn {
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 2px;
  text-transform: uppercase;
  color: var(--primary);
  background-color: var(--secondary);
}

.primary-btn:hover,
.primary-btn:active {
  background-color: var(--secondary-dark);
}
