.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

.title {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
