.wrapper {
  margin-top: 3rem;
}

.wrapper > p {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.row > p {
  font-size: 1.5rem;
}

.row > p,
.row > h3 {
  margin-bottom: 0;
}
