@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$primary: #0b2547;
$secondary: #dbedff;
$tertiary: #ffffff;
$danger: #f18888;

body {
  margin: 0;
  background: $tertiary;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  border: 0;
  &:focus {
    outline: none;
  }
}
input,
textarea,
select {
  font-size: 1rem;
  display: block;
  &:focus {
    outline: none;
  }
}
textarea {
  resize: none;
}
img {
  width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@mixin flex($justifyContent, $alignItem, $direction) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItem;
  flex-direction: $direction;
}

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.home {
  height: 100vh;
  .container {
    @include flex(center, flex-end, column);
    height: 100%;
    text-align: right;
    color: $primary;
    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      margin-top: 3rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    button {
      padding: 0.5rem 2rem;
      font-weight: 700;
      border-radius: 2px;
      text-transform: uppercase;
      color: $primary;
      background: $secondary;
      &:hover,
      &:active {
        background: darken($secondary, 3%);
      }
    }
  }
}

.navbar {
  position: fixed;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .nav-left {
    @include flex(center, center, row);
    flex: 1;
    &:hover,
    &:active {
      opacity: 0.8;
    }
    a {
      padding: 1rem 2rem;
      svg {
        width: 60px;
        rect {
          fill: $secondary;
        }
        path {
          fill: $primary;
        }
      }
    }
  }
  .nav-right {
    flex: 1;
    @include flex(center, center, row);
    a {
      padding: 1rem 2rem;
      height: 100%;
      color: $primary;
      text-transform: uppercase;
      &:hover,
      &:active {
        opacity: 0.8;
      }
      button {
        background: transparent;
        border-radius: 1px;
        color: $primary;
        .item-no {
          background: $primary;
          color: $tertiary;
          font-weight: 700;
          margin-left: 0.5rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }
}

.store {
  margin-top: 10rem;
  h2 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 1px solid $primary;
    padding-bottom: 1rem;
    color: $primary;
  }
  form {
    display: flex;
    margin-bottom: 3rem;
    select,
    button {
      flex: 1;
      padding: 0.2rem;
      border: 1px solid $primary;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $primary;
    }
    button {
      background: $secondary;
    }
  }

  .furnitures {
    display: grid;
    grid-template-columns: 1fr;
    .furniture {
      box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.2);
      padding: 1.5rem;
      margin-bottom: 2rem;
      .picture {
        position: relative;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        background: $secondary;
        min-height: 150px;
        @include flex(center, center, row);
        &:hover .img,
        &:active .img {
          transform: scale(1.1);
        }
        .img {
          transform: scale(1);
          transition: transform 0.2s;
          max-height: 250px;
          object-fit: contain;
        }
        .spinner {
          width: 30%;
          margin: 0 auto;
        }
        button {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $primary;
          border-radius: 5px 0 0 0;
          color: $tertiary;
          p {
            text-transform: uppercase;
            margin-bottom: 0;
            opacity: 0.8;
            padding: 0.5rem;
            font-size: 0.9rem;
          }
          i {
            font-size: 1rem;
            padding: 0.5rem;
            transition: padding 0.2s;
            &:hover,
            &:active {
              padding: 0.8rem;
            }
          }
        }
      }
      .text {
        text-align: center;
        color: $primary;
        h5 {
          margin-bottom: 0;
          font-size: 1.5rem;
          span {
            margin-right: 0.3rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

.details {
  margin-top: 12rem;
  margin-bottom: 4rem;
  color: $primary;
  .details-container {
    @include flex(center, center, column);
    .picture {
      background: $secondary;
      padding: 1rem;
      margin: 2rem 0;
      @include flex(center, center, row);
      min-height: 150px;
      .img {
        width: 100%;
      }
      .spinner {
        width: 30%;
        margin: 0 auto;
      }
    }
    .text {
      h4 {
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: 0.8rem;
        span {
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
      p {
        span {
          padding-bottom: 1rem;
        }
      }
      button {
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        border-radius: 2px;
        color: $primary;
        background: $secondary;
        &:hover,
        &:active {
          background: darken($secondary, 3%);
        }
      }
      button:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 3;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  @include flex(center, center, row);
  .modal-container {
    color: $primary;
    background: $tertiary;
    margin: 0 2rem;
    position: relative;
    padding: 2rem;
    transform: translateY(-10px);
    transition: transform 0.5s;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.3rem 0.8rem;
      background: $danger;
      color: $tertiary;
    }
    .img {
      background: $secondary;
      padding: 1rem;
      margin-bottom: 1rem;
      img {
        max-height: 250px;
        object-fit: contain;
      }
    }
    h3 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 1rem;
    }
    p {
      text-transform: capitalize;
      margin-bottom: 1rem;
      span {
        font-weight: 900;
        font-size: 1.2rem;
      }
    }
    .cart-btn {
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.5rem 1rem;
      border-radius: 2px;
      color: $primary;
      background: $secondary;
      &:hover,
      &:active {
        background: darken($secondary, 3%);
      }
    }
  }
}
.modal-active {
  opacity: 1;
  pointer-events: all;
  .modal-container {
    transform: translateY(0);
  }
}

.cart {
  color: $primary;
  .cart-container {
    margin-top: 10rem;
    h1 {
      margin-bottom: 2rem;
    }
    .cart-column {
      display: none;
    }
    .cart-list {
      .cart-item {
        border: 2px solid $primary;
        border-radius: 2px;
        padding: 1rem;
        margin-bottom: 1rem;
        @include flex(center, center, column);
        .picture {
          flex: 1;
          margin-bottom: 1rem;
          img {
            width: 80px;
            margin: 0 auto;
          }
        }
        .product-detail,
        .product-price {
          flex: 1;
          margin-bottom: 0.5rem;
        }
        .buttons {
          flex: 1;
          margin: 1.5rem 0;
          span:first-child,
          span:nth-child(3) {
            background: $primary;
            padding: 0.2rem 0.5rem;
            color: $tertiary;
            border-radius: 3px;
          }
          span:nth-child(2) {
            margin: 0 1rem;
          }
        }
        .item-remove {
          flex: 1;
          button {
            margin-bottom: 2rem;
            padding: 0.5rem 1rem;
            font-weight: 700;
            background: $danger;
            color: $tertiary;
            text-transform: uppercase;
            i {
              margin-left: 0.5rem;
            }
          }
        }
        .item-total {
          flex: 1;
          margin-bottom: 0;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.3rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
    .cart-totals {
      color: $primary;
      margin: 2rem 0;
      .total-container {
        @include flex(center, center, row);
        .total-content {
          .clear-cart {
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;
            background: $danger;
            color: $tertiary;
            font-weight: 700;
          }
          .sub-total,
          .tax,
          .total {
            margin: 0;
            text-transform: uppercase;
            span {
              margin-left: 1rem;
              font-weight: 700;
            }
          }
          .sub-total {
            border-top: 1px solid $primary;
            padding-top: 1rem;
            margin-bottom: 0.8rem;
          }
          .tax {
            margin-bottom: 0.8rem;
            border-bottom: 1px solid $primary;
            padding-bottom: 1rem;
          }
          .total {
            padding-bottom: 1rem;
            border-bottom: 1px solid $primary;
          }
          .purchase {
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
            background: $primary;
            color: $secondary;
          }
        }
      }
    }
  }
}

.empty-cart {
  height: 100vh;
  @include flex(center, center, row);
  h1 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .home {
    .container {
      @include flex(center, flex-start, column);
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 2.5rem;
      }
      button {
        font-size: 1.5rem;
      }
    }
  }
  .navbar {
    flex-direction: row;
    .nav-left {
      @include flex(flex-start, center, row);
      a {
        padding: 1rem 3rem;
      }
    }
    .nav-right {
      @include flex(flex-end, center, row);
      a {
        padding: 1rem 3rem;
        @include flex(center, center, row);
      }
    }
  }
  .store {
    h2 {
      font-size: 3rem;
    }
    form {
      select,
      button {
        padding: 1rem 0.5rem;
        font-size: 1rem;
      }
      button {
        font-weight: 700;
      }
    }
    .furnitures {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1rem;
      .furniture {
        margin: 0;
        height: auto;
      }
    }
  }
  .details {
    .container {
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
      .details-container {
        @include flex(center, center, row);
        .picture {
          flex: 1;
          margin-right: 2rem;
        }
        .text {
          flex: 1;
        }
      }
    }
  }
  .cart {
    .cart-container {
      .cart-column {
        padding: 0 1rem;
        margin-top: 1rem;
        @include flex(center, center, row);
        p {
          text-align: center;
          flex: 1;
          text-transform: uppercase;
        }
      }
      .cart-list {
        .cart-item {
          @include flex(center, center, row);
          .picture,
          .buttons,
          .item-remove {
            margin: 0;
          }
          .item-remove {
            button {
              margin: 0;
            }
          }
          .buttons,
          .item-remove {
            @include flex(center, center, row);
          }
          .product-detail,
          .product-price,
          .item-total {
            text-align: center;
            margin: 0;
            span {
              display: none;
            }
          }
        }
      }
      .cart-totals {
        .total-container {
          @include flex(flex-end, center, row);
        }
      }
    }
  }
}
